PORT=3000
MONGO_URI=mongodb://localhost:27017/admin
JWT_SECRET=secret
KAFKA_BROKER=localhost:9092  # Kafka broker address
REDIS_HOST=localhost  # Use 'redis' as the hostname (service name in Docker)
REDIS_PORT=6379   # Default Redis port
REDIS_DB=0  # Default Redis database number
